@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
* {
  @apply box-border outline-none;
}
@media screen and (min-width: 992px) {
  * { cursor: none !important; }
}
@media screen and (max-width: 991px) {
  .custom-cursor-sword { display: none !important; }
  .image-responsive {
    height: 450px;
    @apply object-cover;
    @apply object-center;
  }
}
.widgetChannel-xLQIAn {
  @apply hidden;
}
.server-ip {
  min-width: 230px;
}
body {
  background: url('https://res.cloudinary.com/xianmalik/image/upload/q_auto,f_auto/v1589139254/UltraCraft/chalkboard.jpg');
  color: #2b2a27;
}
main {
  @apply block;
}
.margin20 {
  @apply relative block;
  margin: 20px 0;
}
a {
  @apply text-white bg-transparent no-underline;
  transition: .2s color;
}
h1, h2, h3, h4, a {
  font-family: 'Spectral SC', serif;
}
h1 {
  @apply text-7xl mx-4;
}
h2 {
  color: #070301;
  @apply text-5xl mb-6 font-bold leading-none;
}
h4 {
  @apply font-light text-3xl m-0 mb-4 tracking-wider;
  letter-spacing: .05em;
}
h4 span {
  font-family: 'Montserrat', sans-serif;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  color: #bd8d4c;
  font-style: normal;
  @apply text-sm font-semibold tracking-wide mb-2 uppercase;
}
h6 {
  font-family: 'Spectral SC', serif;
  @apply font-normal m-0 mb-2 text-xl leading-snug tracking-wider;
}
@media all and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
    @apply text-5xl;
    @apply mb-6;
  }
  h2 {
    font-size: 2rem;
    @apply mb-3;
  }
  h3 {
    @apply text-base;
  }
  h5 {
    @apply mt-8 mx-0 mb-3;
  }
  h6 {
    @apply text-base;
  }
  p {
    @apply text-base;
  }
}
@media all and (max-width: 768px) {
  section#Section2,
  section#Section3 { padding: 50px 0; }
  section#Slider {
    @apply min-h-screen p-4;
    @apply flex items-center;
  }
  .logo-text { @apply text-center; }
  nav.navbar {
    background: #f2e0c8;
    @apply fixed hidden items-center top-0 left-0 w-full h-screen box-border;
    z-index: 9999999999999;
  }
  nav.navbar.responsive-active {
    @apply flex;
  }
  nav.navbar .navbar-nav {
    @apply w-full;
  }
  nav.navbar .navbar-nav li {
    @apply inline-block w-full relative text-center mx-5 py-5;
    color: #0e0e0e;
  }
  nav.navbar .navbar-nav li a {
    color: #0e0e0e;
  }
  h1 {
    @apply text-5xl m-0 mb-6;
  }
  h2 {
    @apply text-3xl m-0 mb-3;
  }
  h4 {
    @apply text-base m-0 mb-2;
  }
  h5 {
    @apply text-xs mt-8 mx-0 mb-4;
  }
  h6 {
    @apply text-lg;
  }
}
p {
  font-family: 'Montserrat', serif;
  @apply font-normal mb-4 leading-snug text-base tracking-wide;
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
b,
strong {
  @apply font-extrabold;
}
small,
.small {
  font-size: 80%;
}
sub,
sup {
  font-size: 50%;
  line-height: 0;
  @apply relative align-baseline opacity-100;
}
sub {
  @apply -bottom-1;
}
sup {
  top: -1em;
}
img {
  @apply max-w-full align-middle;
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  @apply m-0 leading-tight;
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  @apply overflow-visible;
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

[hidden] {
  @apply hidden;
}


.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  @apply table;
  content: " ";
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  @apply clear-both;
}
.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.container { width: 95% }
.container-fluid { width: 95%; max-width: 1400px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10 { width: 83.33333333%; }
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666667%; }
.col-xs-7 { width: 58.33333333%; }
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666667%; }
.col-xs-4 { width: 33.33333333%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.66666667%; }
.col-xs-1 { width: 8.33333333%; }

@media (min-width: 768px) {
  .container { width: 750px; }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-1 { width: 8.33333333%; }
}
@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }
  .col-12 { width: 100%; }
  .col-11 { width: 91.66666667%; }
  .col-10 { width: 83.33333333%; }
  .col-9 { width: 75%; }
  .col-8 { width: 66.66666667%; }
  .col-7 { width: 58.33333333%; }
  .col-6 { width: 50%; }
  .col-5 { width: 41.66666667%; }
  .col-4 { width: 33.33333333%; }
  .col-3 { width: 25%; }
  .col-2 { width: 16.66666667%; }
  .col-1 { width: 8.33333333%; }
  .col-pull-6 { right: 50%; }
  .col-push-6 { left: 50%; }
  .row.column-height {
    display: flex;
    align-items: center;
    margin: 50px 0 50px;
  }
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.page-wrapper {
  position: relative;
  display: block;
}
header {
  background:  linear-gradient(to bottom, #0e0e0e80, transparent);
}
@media all and (max-width: 768px) {
  header .header {
    padding: .4rem 0;
    box-shadow: 0px 0px 14px #0e0e0efc;
    background-color: #0e0e0e;
    background-image: url('https://res.cloudinary.com/xianmalik/image/upload/q_auto,f_auto/v1589139254/UltraCraft/chalkboard.jpg');
  }   
}
.pre-header {
  background: #060606;
  min-height: 30px;
  width: 100%;
  display: block;
  position: relative;
}

nav.navbar .navbar-nav li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin: 10px;
}
nav.navbar .navbar-nav li a { 
  position: relative;
  font-weight: bold;
  display: inline-block;
  padding: 6px 10px;
  font-size: 1rem;
  color: #b7b7b7;
  /* color: #bd8d4c; */
  opacity: .7;
  transition: opacity .3s ease;
}
nav.navbar .navbar-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 14rem;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

nav.navbar .navbar-nav li.logo-wrap {
  margin: 0;
}
nav.navbar .navbar-nav li.logo-wrap a.logo {
  padding: 10px 0px;
  color: #ffffff;
  display: block;
}
nav.navbar .navbar-nav li.logo-wrap a.logo img {
  max-height: 80px;
}
nav.navbar .navbar-nav li.logo-wrap a.logo .logo-text {
  margin: 0;
  letter-spacing: .06em;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.1em;
  color: #bd8d4c;
}
nav.navbar .navbar-center .nav-left-part,
nav.navbar .navbar-center .nav-right-part {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
}
nav.navbar .navbar-center .nav-left-part {
  right: 100%;
  margin-right: 15px;
}
nav.navbar .navbar-center .nav-right-part {
  left: 100%;
  margin-left: 15px;
}
nav.navbar .navbar-nav li a:hover {
  opacity: 1;
}
nav.navbar .navbar-nav li.header-cta {
  margin: 6px 10px;
} 
nav.navbar .navbar-nav li.header-cta > a::after {
  display: None;
}
nav.navbar .navbar-nav li a.btn-effect {
  position: relative;
  font-weight: bold;
  color: #bd8d4c;
}
.effect-slash .effect-inner {
  position: relative;
  display: inline-block;
}
.effect-slash .effect-inner::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: -10px;
  left: -10px;
  border-bottom: 1px solid;
  opacity: .5;
  -webkit-transition: .2s transform;
  -o-transition: .2s transform;
  transition: .2s transform;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.effect-slash:hover .effect-inner::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.effect-slash.effect-border {
  border: 1px solid #bd8d4c;
  border-radius: 30px;
}
.effect-slash.effect-border::after {
  visibility: hidden;
}
.effect-slash .effect-shader,
.effect-slash .effect-l,
.effect-slash .effect-r {
  transition: color .2s ease;
}

.effect-slash .effect-l,
.effect-slash .effect-r {
  position: absolute;
  top: -50%;
  overflow: hidden;
  -webkit-transition: .2s transform;
  -o-transition: .2s transform;
  transition: .2s transform;
}

.effect-slash .effect-r {
  top: 50%;
}
.effect-slash .effect-shade {
  opacity: 0;
}
.effect-slash:hover .effect-l {
  -webkit-transform: translateX(-1px);
  -ms-transform: translateX(-1px);
  transform: translateX(-1px);
}
.effect-slash:hover .effect-r {
  -webkit-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
}
.effect-slash .effect-l > span {
  display: inline-block;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.effect-slash .effect-r > span {
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
nav.navbar .navbar-nav li a[active] {
  color: #bd8d4c;
}
li.left {
  float: left;
}
.btn-secondary {
  color: #bd8d4c;
  border-color: #bd8d4c;
}
.btn-secondary::before {
  border-color: #bd8d4c;
}
a.effect-slash.btn-effect {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 12px 30px !important;
  font-family: 'Spectral SC', serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(14,14,14,.9);
  border: none;
  border-radius: 2px;
  -webkit-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
  -o-transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
  transition: .2s box-shadow,.2s background-color,.2s color,.2s transform;
}
.btn-effect:hover {
  background-color: #0e0e0e;
  -webkit-box-shadow: 0 5px 15px 0 rgba(14,14,14,.4);
  box-shadow: 0 5px 15px 0 rgba(14,14,14,.4);
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.btn-effect::before {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border: 1px solid;
  border-radius: 2px;
  -webkit-transition: .3s background-color,.3s border-color;
  -o-transition: .3s background-color,.3s border-color;
  transition: .3s background-color,.3s border-color;
  z-index: 1;
}

.btn-white-bg {
  color: #0e0e0e;
  background-color: #f2e0c8 !important;
  border-color: #f2e0c8 !important;
}
.btn-brown-bg {
  color: #0e0e0e;
  background-color: #e8d3b6 !important;
  border-color: #e8d3b6 !important;
}

.dividerTop,
.dividerBottom {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 3;
}
.dividerTop {
  top: -1px;
}
.dividerBottom {
  bottom: -1px;
}
section {
  position: relative;
  z-index: 1;
}
#Section2 {
  background-color: #f2e0c8;
  padding: 0 0 100px;
}
#Section3 {
  background-color: #e8d3b6;
  padding: 10px 0;
}
section > img,
footer > img {
  width: 100%;
}
#Slider {
  padding: 250px 15px 200px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
#Slider .container {
  z-index: 99;
}
section#Slider::after {
  content: '';
  opacity: 1;
  z-index: 2;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #0e0e0e, transparent 30%);
}
#Slider .slider-playercount {
  color: #f2e0c8;
  font-weight: 300;
  margin: 5px 0;
}
#Slider h1 {
  display: inline-block;
  font-family: 'Spectral SC', serif;
  font-weight: 800;
  background: url('https://res.cloudinary.com/xianmalik/image/upload/q_auto,f_auto/v1589139254/UltraCraft/z3_asmuj3.jpg') repeat center / cover;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
  position: relative
}
#Slider p,
#Slider h1,
#Slider h1 sub,
#Slider h1 sup,
#Slider h4 {
  color: #fff;
}
#Slider a {
  margin: 0 10px;
}
.image-bg {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  max-width: unset;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
}





h1.page-title {
  font-family: 'Spectral SC', serif;
}

@media all and (min-width: 769px) {
  .text-right {
    text-align: right;
  }
  .text-center {
    text-align: center;
  }
}
.text-md-center {
  text-align: center;
}




.custom-cursor-sword {
  position: fixed;
  top: -4px;
  left: -4px;
  height: 50px;
  width: 50px;
  pointer-events: none;
  z-index: 9999999999999;
}
::-webkit-scrollbar {
  background: #f2e0c8;
  width: 10px;
}
::-webkit-scrollbar-button {
  background: #0e0e0e;
  display: none;
}
::-webkit-scrollbar-thumb  { 
  background: #bd8d4c;
  border-radius: 20px;
}

.particles {
  opacity: .4;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 60%;
  top: 40%;
}

footer {
  padding: 10rem 0 3rem;
  position: relative;
}
footer p {
  font-family: 'Spectral SC', serif;
  color: #f2e0c8;
}
footer .footer-logo {
  color: #fff;
  font-size: 2.5rem;
  margin: 0 0 1rem;
}

.page-title {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20vh 0 25vh;
  color: #f2e0c8;
}
.page-title h3 {
  font-family: 'Montserrat';
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: .9rem;
}
@media all and (max-width: 768px) {
  .page-title h3 {
    font-size: .7rem;
  }
  
  .page-title {
    padding: 25vh 0 20vh;
  }
}
.page-title h1 {
  color: #bd8d4c;
  line-height: .8em;
  text-shadow: 0 0 20px #0e0e0ecc;
}

.countdown {
  font-size: 6rem;
  margin: 0 0 2rem;
  font-family: 'Spectral SC', serif;
  line-height: .7em;
}
@media all and (max-width: 768px) {
  .countdown {
    font-size: 3rem;
  }
}


.fv-folderView {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 15px 0;
  opacity: .9;
  transition: opacity .3s ease;
}
.fv-folderView:hover {
  opacity: 1;
}
.fv-content {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #2b2a27;
  transition: padding .3s ease;
}
.fv-folderView:hover .fv-content {
  padding: 30px 15px;
}
.fv-content h3 {
  color: #e8d3b6;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 .5em;
  line-height: .6em;
}
.fv-content h5 {
  margin: 0 0 .6rem;
  color: #bd8d4c;
  font-size: .8rem;
}

@media all and (max-width: 768px) {
  .fv-folderView {
    opacity: 1;
  }
  .fv-content h3 {
    font-size: 1.75rem;
    margin: 0 0 .5em;
    line-height: .5em;
  }
  .fv-content h5 {
    font-size: .55rem;
    line-height: .5em;
    letter-spacing: 1px;
  }
}
@media all and (max-width: 768px) {
  .fv-content h3 {
    font-size: 1.25rem;
  }
}

.user-avatar::after {
  content: '';
  background-image: url(../images/overlay.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}